<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Leaflet Map</title>
	<!-- LeafLet map CSS -->
	<link rel="stylesheet" href="leaflet_map.css" />
	<!-- jQuery Script -->
	<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Vue Script -->
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

	<!-- Our custom Script -->
	<script type="text/javascript" src="leaflet_map.js"></script>

	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />

	<!-- Leaflet Script -->
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

	<!-- Mapbox Map Tile Script -->
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
	<!-- Leaflet maptile CSS-->
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

	<!-- Leaflet Marker CSS -->
	<link rel='stylesheet' href='Leaflet.markercluster-1.4.1\dist\MarkerCluster.css' />

	<!-- Sources for clustering markers -->
	<link rel='stylesheet' href='Leaflet.markercluster-1.4.1\dist\MarkerCluster.Default.css' />

	<!-- Map tile Script -->
	<script src='Leaflet.markercluster-1.4.1\dist\leaflet.markercluster-src.js'> </script>

	<!-- Heatmap Script -->
	<script type="text/javascript" src="dist/leaflet-heat.js"></script>


</head>

<body onload="initMap()">

	<!-- Warning Banner -->
	<div id="banner">
		<span v-if="display===true">
			<h4 style="font-size: 150%;"> Warning! Particle levels are {{discription}}. </h4>
		</span>
	</div>
	<!-- end of banner -->

	<!-- Navagation Bar -->
	<div class="navigationbar">
		<!-- link to about section -->
		<a class="navigationlinks" href="aboutProject.html" target="_self"> About the Authors </a>
	</div>
	<!-- End of Nav. -->

	<!-- Search Bar -->
	<div id="search">
		<input id="textBox" type="text" v-model="map_search" v-bind:placeholder="input_placeholder" v-on:keyup.enter="mapSearch()"> </input>

		<h4 id="tableTitle"> Air Quality Measurements </h4>
		<h5 id="tableLocation"> Nearest Measurement: {{nearestLocation}} </h5>
		<table id="realTable">
			<tr>
				<th> Parameters </th>
				<th> Value </th>
				<th> Unit </th>
			</tr>
			<tr v-for="item in searchResults" v-bind:style="background(item)">
				<td class="tableData"> {{item.parameter}} </td>
				<td class="tableData"> {{item.value}} </td>
				<td class="tableData"> {{item.unit}} </td>
			</tr>
		</table>

	</div>
	<!-- End of Search Bar -->

	<!--Color Legend Table -->
	<table id="legend">
		<tr>
			<th> Color Legend </th>
		</tr>
		<tr>
			<td style="background-color: rgb(0,228,0);"> </td>
			<td> Good </td>
		</tr>
		<tr>
			<td style="background-color: rgb(255,255,0);"> </td>
			<td> Moderate </td>
		</tr>
		<tr>
			<td style="background-color: rgb(255,126,0);"> </td>
			<td> Unhealthy for Sensitive Groups </td>
		</tr>
		<tr>
			<td style="background-color: rgb(255,0,0);"> </td>
			<td> Unhealthy </td>
		</tr>
		<tr>
			<td style="background-color: rgb(143,63,151);"> </td>
			<td> Very Unhealthy </td>
		</tr>
		<tr>
			<td style="background-color: rgb(126,0,35);"> </td>
			<td> Hazardous </td>
		</tr>

	</table>
	<!-- End of Color Legend-->

	<!-- Button for Fullscreen -->
	<button id="fullButton" type="button">
		<span style="font-size:30px;cursor:pointer">&#9776; open</span>
	</button>
	<!-- End of FullScreen Button -->

	<!-- Map container, nothing needed to go in -->
	<div id="map">
	</div>
	<!-- End of Map -->
</body>

</html>
