
 
 /*Map and Table CSS Styles*/
#map {
  height: 100%;
  width: 75%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#textBox{
	position: absolute;
	float: right;
	top: 24px;
	margin-left: 75vw;
	width: 25vw;
	z-index:1000;
	

}

#fullButton{
	margin-top: 25px;
	color: white;
	text-transform: uppercase;
	background: #9370DB;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
}

.navigationbar
{
	position: absolute;
	float: right;
	margin-left: 75vw;
	width: 25vw;
	height: 1.5rem;
	background-color: #9370DB;
	
}

.navigationlinks
{

	padding: 5vw;
	color: white;	
	
}

/*CSS styles used in aboutProject page*/
#aboutNavigation
{
	width: 100%;
	height: 2rem;
	position: fixed;
	background-color: #9370DB;
	text-align: center;
	
}

#personalphoto
{
	float: left;
	width: 150px;
	height: 200px;
	padding: 1rem 2rem 3rem 1rem;
	
}

h1{
	text-align: center;
	font: italic bold 150% "Times New Roman", sans-serif;
}
h3
{
	font: italic bold 100% "Times New Roman", sans-serif;
	text-decoration: underline;
	
}